.verticalScrollBar {
  position: absolute;
  inset-inline-end: 2px;
  inset-block-start: 0;
  inset-block-end: 0;
  background: transparent;
}

.horizontalScrollBar {
  position: absolute;
  inset-block-end: 2px;
  inset-inline-start: 0;
  inset-inline-end: 0;
  background: transparent;
}

.verticalScrollBar > div,
.horizontalScrollBar > div {
  position: absolute;
  border-radius: 50px;
  z-index: 8;
  cursor: pointer;
}

.verticalScrollBar > div {
  width: 100%;
}

.horizontalScrollBar > div {
  height: 100%;
}
