.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.canvasWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--kf-color-bg-gray);
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.canvasWrapper.panning {
  cursor: grabbing;
}

.canvas {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.canvas > div:first-of-type {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  transition: transform 0.01s ease;
}

.contentWrapper {
  position: absolute;
}
